APP_ID = #fbdev
SECRET = #fbdev
XFBML = True
VERSION = 'v2.4'

SHORT_TERM_TOKEN = '''
#get by logging in as self and logging the resulting response from one's own app, client-side. I don't like how this is another step. Do this by copy pasting the async loging stuff, and ensuring that facebook thinks you're doing this...

AUTH_TOKEN =
#get by running getFullToken.py
